
[Unit]
Description=Xnext Delay MountRo
# TODO qualcosa?
#After=network.target
Wants=local-fs.target multi-user.target
# After=local-fs.target
After=local-fs.target multi-user.target
AllowIsolate=yes

# Great! https://www.freedesktop.org/software/systemd/man/systemd.exec.html#Environment=
Environment="VAR_DMRO_ROOT=/opt/xspectra/libraries/flashybrid/"
# Environment="VAR_DMRO_ROOT=/usr/sbin/"

[Service]
Type=oneshot
RemainAfterExit=true

ExecStartPre=/usr/bin/sleep 10
ExecStart=${VAR_DMRO_ROOT}delay-mountro-setup.sh
ExecStop=${VAR_DMRO_ROOT}delay-mountro-teardown.sh

StandardOutput=journal

[Install]
WantedBy=multi-user.target
