
[Unit]
Description=Xnext Delay MountRo

# TODO qualcosa?
Wants=local-fs.target multi-user.target

#After=network.target
After=local-fs.target multi-user.target

AllowIsolate=yes


[Service]
Type=oneshot
RemainAfterExit=true

# Great! https://www.freedesktop.org/software/systemd/man/systemd.exec.html#Environment=
# FIXME env-var Environment=VAR_DMRO_ROOT=/opt/xspectra/libraries/flashybrid/
# # Environment=VAR_DMRO_ROOT=/usr/sbin/


ExecStartPre=/usr/bin/sleep 8

# FIXME env-var ExecStart=${VAR_DMRO_ROOT}delay-mountro-setup.sh
# FIXME env-var ExecStop=${VAR_DMRO_ROOT}delay-mountro-teardown.sh
ExecStart=/opt/xspectra/libraries/flashybrid/dmro/start.sh
ExecStop=/opt/xspectra/libraries/flashybrid/dmro/stop.sh

StandardOutput=journal


[Install]
WantedBy=multi-user.target
