
[Unit]
Description=Xnext Delay MountRo Tester

# era Requires?
Wants=xis-delay-mountro.target


After=xis-delay-mountro.target

AllowIsolate=yes


[Service]
Type=oneshot
RemainAfterExit=true





# basta dormire! e invece si' che dormiamo: pare che accada troppo presto senno'
ExecStartPre=/usr/bin/sleep 20



ExecStart=/opt/xspectra/libraries/flashybrid/dmro/tester-start.sh
ExecStop=/opt/xspectra/libraries/flashybrid/dmro/tester-stop.sh

StandardOutput=journal


[Install]
WantedBy=multi-user.target
